:root {
    --general_bgcolor: #3c6754;
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Xanh Mono', monospace;
}

h1 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-header {
    background-color: var(--general_bgcolor);
    color: #ffffff;
}

.main-header > * {
    margin-left: 2rem;
}

.fa-regular {
    font-size: 4rem;
    margin-top: 1rem;
}

.box1 {
    width: 400px;
    height: 300px;
    margin-left: 2vw;
    border: thin solid #135598;
    text-align: center;
    color: #ffffff;
    background-color: var(--general_bgcolor);
}

.back-image {
    position: relative;
}

.box2 {
    width: 400px;
    height: 300px;
    margin-left: 2vw;
    border: thin solid #135598;
    text-align: center;
    color: #ffffff;
    background-image: url("/img/gallery/papitas.jpg");
}

.text-box3 {
    position: absolute;
    top: -1rem;
    margin-left: 2vw;
    left: calc(400px + 1rem);
}

.box3 {
    position: absolute;
    top: 2.5rem;
    left: calc(400px + 1rem);
    width: 400px;
    height: 300px;
    margin-left: 2vw;
    border: thin solid #135598;
    text-align: center;
    color: #ffffff;
    background-image: url("/img/gallery/papitas.jpg");
    background-size: 200px 150px;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.box4 {
    width: 400px;
    height: 300px;
    margin-left: 2vw;
    border: thin solid #135598;
    text-align: center;
    color: #ffffff;
    background-image: url("/img/gallery/papitas.jpg");
    background-size: 100px 100px;
    background-repeat:repeat;
}

.text-box5 {
    position: absolute;
    top: calc(300px + 2.5rem);
    margin-left: 2vw;
    left: calc(400px + 1rem);
}

.box5 {
    position: absolute;
    top: calc(300px + 6.2rem);
    left: calc(400px + 1rem);
    width: 400px;
    height: 300px;
    margin-left: 2vw;
    border: thin solid #135598;
    text-align: center;
    color: #ffffff;
    background-color: #7b3eb4;
    background-image: url("/img/gallery/papitas.jpg");
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: center center;
}

.box6 {
    box-sizing: border-box;
    padding: 1rem;
    width: 400px;
    height: 300px;
    margin-left: 2vw;
    border: thick dashed #232b33;
    text-align: center;
    color: #ffffff;
    background-color: #a5b3ad;
    background-image: url("/img/gallery/papitas.jpg");
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-clip:content-box;
}

.text-box7 {
    position: absolute;
    top: calc(600px + 6.2rem);
    margin-left: 2vw;
    left: calc(400px + 1rem);
}

.box7 {
    position: absolute;
    top: calc(600px + 10rem);
    left: calc(400px + 1rem);
    width: 400px;
    height: 300px;
    margin-left: 2vw;
    border: thick dotted #c354e6;
    text-align: center;
    color: #ffffff;
    background-color: #7fb47a;
    background-image: url("/img/gallery/papitas.jpg");
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
}

.box8 {
    width: 100%;
    height: 80vh;
    background-image: url("/img/gallery/papitas.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.multiples-backgrounds {
    width: 50%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/gallery2/perro1.jpg"), url("../img/hero-image.jpg");
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;

}

