:root {
    --general_bgcolor: #84d1a4;
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
}

h1, h2, p {
    margin: 0;
}

.main-header {
    background-color: var(--general_bgcolor);
    text-align: center;
    width: 100%;
    height: 15vh;
}

.radius {
    background-color: #7d046b;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.container1 {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 33vw;
    height: 33vh;
    background-color: var(--general_bgcolor);
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
}

.container1 h3 {
    text-align: center;
}

.container2 {
    text-align: center;
    margin-left: 6rem;
    margin-top: 1rem;
    width: 33vw;
    height: 33vh;
    background-color: #c79959;
    padding: 1rem;
    /* para dar curvatura tipo elipse se separan los valores del border radius por un '/' */
    border-radius: 4rem / 6rem;
}

.container3 {
    text-align: center;
    margin-left: 10rem;
    margin-top: 1rem;
    width: 350px;
    height: 350px;
    background-color: #458291;
    border-radius: 50%;
}

.container3 h3 {
    padding-top: 150px;
}

.outlines {
    background-color: var(--general_bgcolor);
    padding-bottom: 2rem;
}

.container-out {
    width: 40vw;
    height: 20vh;
    border: thick solid #361f49;
    padding: 1.5rem;
    font-size: 1.5rem;
    margin-left: 20vw;
    outline: thick dashed #7d042a;
    outline-offset: 1rem;
}